<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="com.ugapp.listeners.CustomListeners"/>
  </listeners>
   
  
  <test name="LogIn Test">
		<classes>
			<class name="com.ugapp.testcases.TC_01_LandingPageTest" />
			<class name="com.ugapp.testcases.TC_02_FooterLinksPageTest" />
			<class name="com.ugapp.testcases.TC_03_ProvideFeedbackPageTest" />
			<class name="com.ugapp.testcases.TC_04_CreateAccountTest" />
			<class name="com.ugapp.testcases.TC_05_VerifyEmailTest" />
			<class name="com.ugapp.testcases.TC_06_ResetPasswordTest" />
			<class name="com.ugapp.testcases.TC_07_LogInTest" />
			<class name="com.ugapp.testcases.TC_08_PreAppDashboardTest" />
		</classes>
	</test> <!-- Test -->
	
	
</suite> <!-- Suite -->
