<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
	<suite name="Parallel" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="com.ugapp.listeners.CustomListeners"/>
    </listeners>
    

<test name="F1_Greater24_US_Res_SpouseDependent_FutureGrad_InstateSchool_OOS">
	<parameter name="colKey" value="0" />
    <parameter name="colValue" value="1" />
    <parameter name="browser" value="firefox" />

    <groups>
        <run>
            <include name="Greater24_US_Res_SpouseDependent_FutureGrad_InstateSchool_OOS"/>
        </run>
    </groups>
    
    <classes>
            <class name="com.ugapp.testcases.TC_01_LandingPageTest">
    <methods>
        <include name="verifyLandingPage" />
    </methods>
           </class>
            <class name="com.ugapp.testcases.TC_04_CreateAccountTest">
				<methods>
					<include name="verifyCreateAcc"/>
					<include name="CreateRandomAccTest"/>
				</methods>
			</class>
			<class name="com.ugapp.testcases.TC_05_VerifyEmailTest" >
			<methods>
					<include name="verifyEmailTest"/>
				</methods>
			</class>
			<class name="com.ugapp.testcases.TC_07_LogInTest" >
				<methods>
					<include name="login"/>
				</methods>
			</class>
              </classes>
    <!-- Include your classes and methods here -->
</test>
<test name="F2_18To24_NonUS_Res_Veteran_PastGrad_OOS">
	<parameter name="colKey" value="2" />
    <parameter name="colValue" value="3" />
    <parameter name="browser" value="chrome" />
    <groups>
        <run>
            <include name="18To24_NonUS_Res_Veteran_PastGrad_OOS"/>
        </run>
    </groups>
    <classes>
            <class name="com.ugapp.testcases.TC_01_LandingPageTest">
    <methods>
        <include name="verifyLandingPage" />
    </methods>
            </class>
            <class name="com.ugapp.testcases.TC_04_CreateAccountTest">
				<methods>
					<include name="verifyCreateAcc"/>
					<include name="CreateRandomAccTest"/>
				</methods>
			</class>
			<class name="com.ugapp.testcases.TC_05_VerifyEmailTest" >
			<methods>
					<include name="verifyEmailTest"/>
				</methods>
			</class>
			<class name="com.ugapp.testcases.TC_07_LogInTest" >
				<methods>
					<include name="login"/>
				</methods>
			</class>
              </classes>
    <!-- Include your classes and methods here -->
</test>

</suite> 